@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #5b21b6;
	--background-color: #1f2937;
	--text-color: #f9fafb;
}
*{
    margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}
body{
    color:var(--text-color);
    background-color: var(--background-color);
    
}
#heading{
    text-align: center;
	margin-bottom: 2rem;
}
nav{
    background-color: var(--primary-color);
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.angle-container{
    width:50%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.angle-input{
    margin:1rem 0;
    padding: 0.3rem;
}
#is-triangle{
    padding: 0.3rem;
    background-color: var(--primary-color);
    color:var(--text-color);
    font-weight:bold;
    font-size:medium;
    border-radius: 0.2rem;
}

.quiz-form{
    width:50%;
    margin:0 auto;
   
}
.gap{
    margin-bottom: 20px;
}
#quiz-container{
    word-spacing: 2px;
    border: 1px solid var(--primary-color);
    padding:2rem;
    border-radius: 0.3rem;
}
#quiz-container p{
    padding: 1rem;
}
    
a {
	text-decoration: none;
	color: var(--text-color);
	padding: 0.5rem;
	font-weight: 1000;
	font-size: 1rem;
}
.item-active {
	border-bottom: 2px solid;
	font-weight: bold;
}
